@model Mardom.Models.Categoria
@{
    ViewBag.Title = Model.Descripcion;
}

<ol class="breadcrumb">
    <li><a href="~/Categoria">Categoría</a></li>
    <li class="active">/ @(Model.Descripcion)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Información de categoría</div>
    <div class="panel-body">
        <dl>
            <dt>Descripción:</dt>
            <dd>@(Model.Descripcion)</dd>
        </dl>
    </div>
</div>