@using PagedList.Mvc
@model PagedList.IPagedList<Mardom.Models.Proveedor>
@{
    ViewBag.Title = "Inicio";
}

<h2>Proveedor</h2>


<table class="table">

    <thead>
        <tr>
            <th>Proveedores</th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@(m.Descripcion)</td>
                <td>
                    <a class="btn btn-xs btn-default" href="~/Proveedor/ver/@m.Id">Ver</a>
                    <a class="btn btn-xs btn-primary" href="~/Proveedor/crud/@m.Id">Editar</a>
                    <a onclick="return confirm('¿Desea eliminar el registro?');" class="btn btn-xs btn-danger" href="~/Proveedor/eliminar/@m.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<div style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination-sm" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>